################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MAPDISPLAY/v15
/MAPDISPLAY/Debug
/MAPDISPLAY/x64/Debug
*.vcxproj
*.user
*.filters
/x64/Debug
*.sln
